.app {
  width: 100px;
  height: 100px;
  background-color: pink;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 10px;
  background: #081f5c;
  transform-origin: 0%;
}
