.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 10px;
  background: #081f5c;
  transform-origin: 0%;
}
.app {
  position: relative;
}
.circle {
  width: 100px;
  object-fit: contain;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
}
